
@{
    ViewData["Title"] = "About";
}

<style>
     .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
</style>
<div class="image-aboutus-banner" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
                <p class="image-aboutus-para">
                    You can read our ebooks online, or download them to a vast array of devices, using our Ebook Reader apps.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="strong">Who we are and<br>what we do</h1>
                <p class="lead">This is the world's leading portal for<br>easy and quick </p>
            </div>
            <div class="col-md-6">
                <p>
                    Launched in 2000, eBooks.com is a popular ebook retailer with a reputation for innovation, integrity and independence. We sell ebooks direct to millions of consumers around the world, with five local sales portals in the US, Canada, UK, Europe and Australia.
                    BookShop is privately held and run by its founders, life-long booksellers Stephen and Trudy Cole. It is the only independent ebook retailer that sells into every country in the world, and the International Space Station.
                    We have our own publisher licenses, delivery platforms, reader apps and repository of titles. Ebook Reader, our mobile app, is one of the most popular apps in the ebook market, with millions of installs.
                    BookShop hosts over a million unique ebook titles and has millions of members.
                    In addition to our direct-to-consumer business, we provide services to book publishers. Digital Comps is a system that enables publishers to send secure ebooks to reviewers and instructors, called “complimentary copies”. Ebook Engine is a system that enables publishers to sell ebooks direct to consumers from their own website.
                </p>
            </div>
        </div>
    </div>
</div>