
@{
    ViewData["Title"] = "ThankYou";
}

<div class="container">
    <div class="row">
        <h2>Thank You for your order!</h2>
        <div class="col-lg-10">
            <p>Your medicine will be available to you soon</p>
        </div>
        <div class="col-lg-10">
            <p>
                <a href="/home/index" class="btn btn-lg btn-primary">Continue shopping</a>
            </p>
            <p>
                <a href="/home/orderlist" class="btn btn-lg btn-primary">See the orders</a>
            </p>
        </div>
    </div>
</div>